

#divColorSchemer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 2px solid black;
    background-color: #e1ebf4;
 }
  
#csTitle {
	font-size: 18px;
	margin: 2px;
	text-align: center;
}

.csSubTitle {
	font-size: 16px;
  	margin: 2px;
	text-align: center;
}

.csInputs {
	float: right;
	border: none;
	padding: 0px;
	margin-top: 4px;
	height: 12px;
	background-color: #e1ebf4;
}

.csH {
  	margin: 2px;
	font-size: 14px;
	font-weight: normal;
}